* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  --color-primary: #000;
  --bg-primary: #fff;
  --hover: #000;
  --card-border:1px solid #fff;
  --card-bg:#fff;
  --card-color:#000;
  --card-shadow: 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}

body.dark {
  --color-primary: #fff;
  --bg-primary: #000;
  --hover:#fff;
  --card-border:3px solid #fff;
  --card-bg:#000;
  --card-color:#fff;
  --card-shadow: 2px 5px 30px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}

/**Menu**/
body {
  background-color: var(--bg-primary);
  color: var(--color-primary);
}

.header .container-header .upper {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  padding: 15px 0;
  width: 100%;
}
.header .container-header .upper .logo {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}
.header .container-header .upper .menu-login #btn-change-theme {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
.header .container-header .upper .menu-login #btn-change-theme:hover {
  background-color: rgb(62, 136, 219);
  transition: all 0.5s;
}
.header .container-header .upper .menu-login a {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  position: relative;
}
.header .container-header .upper .menu-login a::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 0%;
  background-color: rgb(62, 136, 219);
  left: 0;
  bottom: -5px;
}
.header .container-header .upper .menu-login a:hover {
  color: rgb(62, 136, 219);
  transition: 0.3s;
}
.header .container-header .upper .menu-login a:hover::after {
  width: 100%;
  transition: 0.3s;
}
.header .container-header .lower {
  background-color: var(--bg-primary);
  width: 100%;
}
.header .container-header .lower a {
  font-size: 18px;
  font-weight: 300;
  color: var(--color-primary);
  text-decoration: none;
  margin: 15px 15px;
  position: relative;
  padding: 3px;
}
.header .container-header .lower a::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 0%;
  background-color: var(--hover);
  left: 0;
  bottom: 0px;
}
.header .container-header .lower a:hover {
  font-weight: 500;
  transition: 0.3s;
}
.header .container-header .lower a:hover::after {
  width: 100%;
  transition: 0.3s;
}

/**footer**/
.footer {
  border-top: 1px solid #e0e0e0;
  position: sticky;
  top: 100%;
}
.footer .container-footer {
  width: 100%;
}
.footer .container-footer .upper-footer {
  width: 100%;
  background-color: var(--bg-primary);
}
.footer .container-footer .upper-footer .footer-item {
  padding: 35px;
}
.footer .container-footer .upper-footer .footer-item h2 {
  font-size: 30px;
  font-weight: 600;
  color: var(--color-primary);
}
.footer .container-footer .upper-footer .footer-item ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: var(--color-primary);
}
.footer .container-footer .upper-footer .footer-item ul li a:hover {
  color: red;
  transition: 0.3s;
}
.footer .container-footer .upper-footer .footer-item p {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-primary);
}
.footer .container-footer .upper-footer .footer-item a.button-a {
  font-size: 20px;
  font-weight: 500;
  color: #dc8581;
  text-decoration: none;
}
.footer .container-footer .upper-footer .footer-item a.button-a:hover {
  color: red;
  transition: 0.3s;
}
.footer .container-footer .lower-footer {
  width: 100%;
  background-color: #ebebeb;
}
.footer .container-footer .lower-footer .footer-item {
  padding: 35px;
}
.footer .container-footer .lower-footer .footer-item h2 {
  font-size: 30px;
  font-weight: 600;
  color: black;
}
.footer .container-footer .lower-footer .footer-item p {
  font-size: 15px;
  font-weight: 400;
  color: black;
}
.footer .container-footer .lower-footer .footer-item a.button-a {
  font-size: 20px;
  font-weight: 500;
  color: #dc8581;
  text-decoration: none;
}
.footer .container-footer .lower-footer .footer-item a.button-a:hover {
  color: red;
  transition: 0.3s;
}

.detail {
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 5px 5px 8px #e2ebfc;
  margin-top: 5px;
}
.detail .container-detail {
  display: flex;
  margin: 55px 55px;
}
@media only screen and (max-width: 1200px) {
  .detail .container-detail {
    flex-direction: column;
  }
}
.detail .container-detail .img-product {
  width: 40%;
  text-align: center;
  transform: rotateY(0deg);
  transition: transform 1s;
}
@media only screen and (max-width: 1200px) {
  .detail .container-detail .img-product {
    width: 100%;
  }
}
.detail .container-detail .img-product:hover {
  transform: rotateY(180deg);
  transition: transform 1s;
}
.detail .container-detail .detail-product {
  margin: 30px 55px;
  padding: 15px 15px;
  height: 100%;
  width: 60%;
  border-left: var(--card-border);
}
@media only screen and (max-width: 1200px) {
  .detail .container-detail .detail-product {
    width: 100%;
    border: none;
    text-align: center;
  }
}
.detail .container-detail .detail-product .size-list {
  margin: 15px 0;
}
.detail .container-detail .detail-product .size-list .btn-size {
  padding: 3px 25px;
  margin: 2px;
  background-color: #cccccc;
  font-size: 20px;
  font-weight: 600;
}
.detail .container-detail .detail-product .size-list .btn-size:hover {
  background-color: greenyellow;
}
.detail .container-detail .detail-product .size-list .active {
  background-color: greenyellow;
}
.detail .container-detail .detail-product .price {
  color: red;
  font-size: 20px;
  font-weight: 600;
}
.detail .container-detail .detail-product .quantity {
  display: flex;
  margin: 15px 0;
}
@media only screen and (max-width: 1200px) {
  .detail .container-detail .detail-product .quantity {
    justify-content: center;
    width: 100%;
  }
}
.detail .container-detail .detail-product .quantity button {
  padding: 3px 25px;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(75, 143, 223) 100%);
}
@media only screen and (max-width: 1200px) {
  .detail .container-detail .detail-product .quantity button {
    text-align: center;
  }
}
.detail .container-detail .detail-product .quantity .number-quantity {
  margin: auto 25px;
  font-size: 20px;
  font-weight: 600;
}
@media only screen and (max-width: 1200px) {
  .detail .container-detail .detail-product .quantity .number-quantity {
    text-align: center;
  }
}
.detail .container-detail .detail-product .buttonCart {
  padding: 13px 45px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background: rgb(131, 58, 180);
  background: linear-gradient(149deg, rgb(131, 58, 180) 7%, rgba(253, 29, 29, 0.9051995798) 50%, rgb(252, 176, 69) 100%);
  transition: 0.5s;
}
.detail .container-detail .detail-product .buttonCart:hover {
  transform: translateY(-5px);
  color: #000;
  transition: all 0.3s;
}

.product {
  margin: 55px 0;
}
.product .container .item-0 {
  animation: fadeDown 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
}
.product .container .item-1 {
  animation: fadeDown 1s;
  animation-delay: 0.03s;
  animation-fill-mode: both;
}
.product .container .item-2 {
  animation: fadeDown 1s;
  animation-delay: 0.06s;
  animation-fill-mode: both;
}
.product .container .item-3 {
  animation: fadeDown 1s;
  animation-delay: 0.09s;
  animation-fill-mode: both;
}
.product .container .item-4 {
  animation: fadeDown 1s;
  animation-delay: 0.12s;
  animation-fill-mode: both;
}
.product .container .item-5 {
  animation: fadeDown 1s;
  animation-delay: 0.15s;
  animation-fill-mode: both;
}
.product .container .item-6 {
  animation: fadeDown 1s;
  animation-delay: 0.18s;
  animation-fill-mode: both;
}
.product .container .item-7 {
  animation: fadeDown 1s;
  animation-delay: 0.21s;
  animation-fill-mode: both;
}
.product .container .item-8 {
  animation: fadeDown 1s;
  animation-delay: 0.24s;
  animation-fill-mode: both;
}
.product .container .item-9 {
  animation: fadeDown 1s;
  animation-delay: 0.27s;
  animation-fill-mode: both;
}
.product .container .item-10 {
  animation: fadeDown 1s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}
.product .container .item-11 {
  animation: fadeDown 1s;
  animation-delay: 0.33s;
  animation-fill-mode: both;
}
.product .container .item-12 {
  animation: fadeDown 1s;
  animation-delay: 0.36s;
  animation-fill-mode: both;
}
.product .container .item-13 {
  animation: fadeDown 1s;
  animation-delay: 0.39s;
  animation-fill-mode: both;
}
.product .container .item-14 {
  animation: fadeDown 1s;
  animation-delay: 0.42s;
  animation-fill-mode: both;
}
.product .container .card {
  border: var(--card-border);
  box-shadow: var(--card-shadow);
  margin: 10px 10px;
  background-color: var(--card-bg);
  color: var(--card-color);
}
.product .container .card .card-img-top {
  transform: rotateY(0deg);
  transition: transform 1s;
}
.product .container .card .card-img-top:hover {
  transform: rotateY(180deg);
  transition: transform 1s;
}
.product .container .card .card-img-top img {
  width: 100%;
}
.product .container .card .card-body {
  text-align: center;
  border-top: 1px solid #e0e0e0;
  height: 150px;
}
.product .container .card .card-body .product-name {
  font-size: 25px;
  font-weight: 500;
}
.product .container .card .card-body .short-description {
  font-size: 15px;
  font-weight: 300;
}
.product .container .card .card-footer {
  border-top: 1px solid #e0e0e0;
}
.product .container .card .card-footer .button-outlook {
  background-color: #ffc107;
  cursor: pointer;
}
.product .container .card .card-footer .button-outlook a {
  text-align: center;
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
.product .container .card .card-footer .button-outlook:hover {
  background-color: cornflowerblue;
  transition: 0.2s;
}
.product .container .card .card-footer .price {
  text-align: center;
  margin: 10px 0;
  font-weight: 500;
  font-size: 20px;
}

@keyframes fadeDown {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}