@import './base/base';


.detail {
    border-bottom: 1px solid #e0e0e0;
    // border-top: 1px solid #e0e0e0;
    margin-top: 5px;
    .container-detail {
        display: flex;
        margin: 55px 55px;
        @media only screen and (max-width: 1200px) {
            flex-direction: column;
            
        }
        .img-product {
            width: 40%;
            text-align: center;
            transform: rotateY(0deg);
            transition: transform 1s;
            @media only screen and (max-width: 1200px) {
                width: 100%;
                
            }
            &:hover{
                transform: rotateY(180deg);
                transition: transform 1s;
            }
            img {
                    
                
                
            }
        }

        .detail-product {
            margin: 0 55px;
            width: 60%;
            @media only screen and (max-width: 1200px) {
                width: 100%;
                // border: 1px solid red;
                text-align: center;
                
            }
            .name-detail {
                
            }

            .description-detail {
                
            }

            .size-list {
                margin: 15px 0;

                .btn-size {
                    padding: 3px 25px;
                    margin: 2px;
                    background-color: #cccccc;
                    font-size: 20px;
                    font-weight: 600;
                    &:hover{
                        background-color: greenyellow;
                    }
                }
                .active{
                    background-color: greenyellow;
                }
            }

            .price {
                color: red;
                font-size: 20px;
                font-weight: 600;
            }

            .quantity {
                display: flex;
                margin: 15px 0;
                @media only screen and (max-width: 1200px) {
                    justify-content: center;
                    width: 100%;
                }
                button {
                    // margin-right:15px;
                    padding: 3px 25px;
                    color: #000;
                    font-size: 20px;
                    font-weight: 600;
                    background: rgb(238, 174, 202);
                    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(75, 143, 223, 1) 100%);
                    
                    @media only screen and (max-width: 1200px) {
                        
                        // border: 1px solid red;
                        text-align: center;
                        
                    }
                }
                
                .number-quantity {
                    margin: auto 25px;
                    font-size: 20px;
                    font-weight: 600;
                    @media only screen and (max-width: 1200px) {
                        
                        // border: 1px solid red;
                        text-align: center;
                        
                    }
                }
            }

            .buttonCart {
                padding: 13px 45px;
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                background: rgb(131, 58, 180);
                background: linear-gradient(149deg, rgba(131, 58, 180, 1) 7%, rgba(253, 29, 29, 0.9051995798319328) 50%, rgba(252, 176, 69, 1) 100%);
                
                transition: 0.5s;
                &:hover{
                    transform: translateY(-5px);
                    // border-radius: 25px;
                    // border: 5px solid #000;
                    color: #000;
                    transition: all 0.3s;
                }
            }
        }
    }
}


@import './base/product';