@import './base/base';


/**Carousel**/
.carousel {
    background-color: #f7f7f7;
    background-image: url(/img/bg15.png);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    

    .container-carousel {
        // border: 1px solid red;

        .carousel-inner {
            
            .carousel-item {
                
                .container-item {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 600px;
                    
                    @media only screen and (max-width: 1050px) {
                        flex-direction: column;
                    }
                    .carousel-img {
                        width: 60%;
                        // border: 1px solid red;
                        @media only screen and (max-width: 1050px) {
                            width: 100%;
                        }
                        img{
                            height: 50%;
                            
                        }
                    }

                    .carousel-detail {
                        width: 40%;
                        @media only screen and (max-width: 1050px) {
                            width: 100%;
                        }
                    }
                }



            }
        }

        .carousel-control-prev-icon {

            filter: invert(100%);

        }

        .carousel-control-next-icon {

            filter: invert(100%);

        }
    }
}


@import './base/product';